body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
}

.container {
    padding: 20px;
    text-align: left;
}

.welcome-text {
    font-size: 18px;
    color: #000000; /* Black text color */
}
